<!doctype html>
<html>
    <head>
        <title>welcome!</title>
    </head>
    <body>
        <h1>Welcome !! <%= name %> </h1>   

        <p><%= id %> 번째 가입자이시네요 ~!! 축하드려요!</p>
    </body>
</html>
